.result {
    background-color: green;
    text-align: center;
    padding: 20px;
    /* margin-top: 100px; */
    width: 50vw;
    height: 30vw;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title {
    font-size: 30px;
    font-weight: bold;
    color: white;
}

.tilesContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.tileImg {
    width: 3vw;
    height: 4.3vw;
    object-fit: cover;
    object-position: 0 100%;
    background-color: #fff;
}